%TMPL:INCLUDE{"attachagain"}%
%TMPL:INCLUDE{"attachtables"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(attachments)"}% %TMPL:END%

%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Update attachment [_1] on [_2]" args="[[%ATTACHURLPATH%/%ENCODE{%FILENAME%}%][%FILENAME%]],[[%TOPIC%]]"}%%TMPL:END%

%TMPL:DEF{"versions"}%---++ %MAKETEXT{"Version history of [_1]" args="<nop>%FILENAME%"}%
<div class="foswikiAttachments">
%TABLE{%TMPL:P{"commonattachtableattributes"}% summary="%MAKETEXT{"Version history"}%" caption="%MAKETEXT{"Version history"}%"}%
%ATTACHTABLE%</div>%TMPL:END%



%TMPL:DEF{"changepropertiesaction"}%<div class="foswikiFormStep foswikiLast"><input type='submit' class='foswikiButton' name='changeproperties' value='%MAKETEXT{"Change comment only"}%' /></div>%TMPL:END%



%TMPL:DEF{"previous"}%<p>%MAKETEXT{"Select a new local file to update attachment"}% <code>%FILEPATH%</code> <span class="modacHide">%TMPL:P{"fileuser"}%</span></p>%TMPL:END%



%TMPL:DEF{"movedelete_SAVE"}%<div class="patternMoveAttachment foswikiUnvisited"><a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?template=moveattachment&attachment=%ENCODE{%FILENAME%}%" rel='nofollow'><span class="foswikiLinkLabel">%MAKETEXT{"Move"}%</span></a> %MAKETEXT{"or"}% <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?newweb=%TRASHWEB%;newtopic=TrashAttachment;template=renameattachmentdelete;attachment=%ENCODE{%FILENAME%}%" rel='nofollow'><span class="foswikiLinkLabel">%MAKETEXT{"Delete"}%</span></a> =%FILENAME%= </div>%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%<input type='submit' class='foswikiSubmit' value='%MAKETEXT{"Upload file"}%' />%TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"newfile"}%<div class="foswikiFormStep">
---+++ %MAKETEXT{"Update existing attachment"}%

%TMPL:P{"previous"}%%IF{"$ATTACHFILESIZELIMIT > 0" then="%MAKETEXT{"Upload up to [_1] KB." args="%ATTACHFILESIZELIMIT%"}%"}%

<noautolink><input type="hidden" name="filename" value="%FILENAME%" /> 
<input class="foswikiInputField" type="file" name="filepath" value="%FILEPATH%" size="70" /></noautolink>
</div>%TMPL:END%


%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%





%TMPL:P{"attach"}%


%TMPL:DEF{"content"}%
%TMPL:P{"formstart"}%<div class="modacBorder">
%TMPL:P{"attachform"}%
%TMPL:P{"topicinfo"}%</div>
%TMPL:P{"formend"}%
%TMPL:P{"versions"}%
%TMPL:END%
