%TMPL:INCLUDE{"attach"}%
%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Attach file to [_1]" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type='submit' value='%MAKETEXT{"Upload file"}%' class='foswikiSubmit modacChanging {icon: &quot;ui-icon-circle-check&quot;}' />%TMPL:P{"canceltopicaction"}%
%TMPL:END%
