%TMPL:INCLUDE{"attachtables"}%

%{ Unfortunately this will not render the number of attachments. A twisty would not get coloured in red/green. }%
%TMPL:DEF{"topicattachmentwisty"}%<div>%MAKETEXT{"Attachments"}%%TMPL:END%

%TMPL:DEF{ATTACH:files:footer}%</div></div>%TMPL:P{ATTACH:files:footer:script}%%TMPL:END%

