%TMPL:INCLUDE{"attachnew"}%

%TMPL:DEF{"modacDialogTitle"}%%MAKETEXT{"Attach file to [_1]" args="%ENCODE{""%TOPICTITLE%"" type="html"}%"}%%TMPL:END%

%TMPL:DEF{"existingattachments"}%<!-- attachmentlist hidden in dialog -->%TMPL:END%
