%TMPL:INCLUDE{"attach"}%
%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Attach file to [_1]" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type='submit' class='foswikiSubmit' value='%MAKETEXT{"Upload file"}%' class='modacChanging' />%TMPL:P{"canceltopicaction"}%
%TMPL:END%
