%{ This is a default template }%
%TMPL:INCLUDE{"DocumentFormTable"}%

%TMPL:DEF{"changeform"}%<input type="submit" name="action_replaceform" value='%MAKETEXT{"Replace form..."}%' class="foswikiChangeFormButton foswikiButton" />%TMPL:END%

%TMPL:DEF{"mandatory"}%<span class="foswikiAlert">*</span> %MAKETEXT{"indicates mandatory fields"}% %TMPL:END%

%{ omitting the REPEATs will cause lots of 'uninitialized values' }%
%TMPL:DEF{"repeatedformrows"}%%REPEAT%%REPEAT%%REPEAT%%TMPL:END%

%TMPL:DEF{"formtail"}%%TMPL:P{context="mandatoryfields" then="mandatory"}%%TMPL:END%
<div class="foswikiForm foswikiEditForm">
<h2>%MAKETEXT{"Document Control"}%</h2>
<table class="foswikiFormTable" summary="%MAKETEXT{"Document Control"}%">
%TMPL:P{"modacformtable"}%
<tr><td>%MAKETEXT{"Form definition"}%</td><td>%FORMTITLE% <div class="%IF{"not $USERNAME ingroup 'AdminGroup'" then="modacHide"}%">%TMPL:P{"changeform"}%</div></td></tr></table>%TMPL:P{"formtail"}%</div>
<!-- %TMPL:P{"repeatedformrows"}% -->
