%TMPL:INCLUDE{"messages"}%

%TMPL:DEF{"bodyclassname"}%modacNoViewPage modacOopsPage%TMPL:END%

%{"This must not be empty, or the top-line will not show"}%
%TMPL:DEF{"modacActionButtons"}%&nbsp;%TMPL:END%

