%TMPL:INCLUDE{"more"}%

%{ add fancy buttons }%
%TMPL:DEF{"setparent"}%%TMPL:PREV%%TMPL:P{"modacDialogDefaultsDiv"}%%TMPL:END%
%TMPL:DEF{"copy"}%%TMPL:PREV%%TMPL:P{"modacDialogDefaultsDiv"}%%TMPL:END%

%TMPL:DEF{"topicparent"}%%TMPL:PREV%%TMPL:P{"javascript"}%<!-- -->
  %INCLUDE{"%SYSTEMWEB%.ModacAjaxHelper" section="head"}%<!-- head -->
  %INCLUDE{"%SYSTEMWEB%.ModacAjaxHelper" section="script"}%<!-- script -->
%TMPL:END%

%TMPL:DEF{"hidewebsOption"}%<div>
<input class="foswikiCheckbox modacDialogReload" type="checkbox" name="MODAC_HIDEWEBS" value="none" %IF{"$'URLPARAM{MODAC_HIDEWEBS}'='none'" then="checked='checked'"}% /><label for="MODAC_HIDEWEBS">%MAKETEXT{"List all webs I may write to"}%</label>
</div>%TMPL:END%
