%TMPL:INCLUDE{"dialog"}%<!-- template: moredialog.natedit.tmpl -->

%TMPL:DEF{"copytopic"}%<div id="modacUsabilityCopyTopic" class="foswikiPage foswikiFormSteps" style="display:none">
%ADDTOZONE{
  "script"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/ModacUsabilityPlugin/jquery.usability.copy.js'></script>"
}%<!-- copy topic -->
    <h2>%MAKETEXT{"Copy topic"}%</h2>
	<p>%MAKETEXT{"Copy this topic (and all attachments) to a new topic."}%</p>
	<form action="%SCRIPTURL{manage}%/%WEB%/" method="post">
	<div class="foswikiFormSteps">
	<div class="foswikiFormStep">
	<h3>%MAKETEXT{"Name of copy"}%</h3>
	<p><input type="text" name="topic" class="foswikiInputField" value="%TOPIC%Copy" size="30" /></p>
	%TMPL:P{"nonwikiword"}%
	</div>
	<div class="foswikiFormStep foswikiLast">
	<p><input type="submit" class="foswikiButton" value="%MAKETEXT{"Copy topic..."}%" /></p>
	</div>
	<input type="hidden" name="action" value="create" />
	<input type="hidden" name="onlynewtopic" value="on" />
	<input type="hidden" name="templatetopic" value="%WEB%.%TOPIC%" />
	<input type="hidden" name="nowysiwyg" value="1" />
	<input type="hidden" name="notemplateexpansion" value="on" />
	<input type="hidden" name="action_save" value="1" />
	</form>
  </div>
  <div class="foswikiFormStep foswikiFormLast foswikiFormButtons">
    %BUTTON{"Ok" class="foswikiButtonSubmit" icon="tick"}%
    %BUTTON{"Cancel" class="foswikiButtonCancel" icon="cross"}%
    %CLEAR%
  </div>
</div>%TMPL:END%

%TMPL:DEF{"insertlink"}%<div id="natEditInsertLink" class="foswikiPage foswikiFormSteps" style="display:none">
%ADDTOZONE{
  "script"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatEditPlugin/jquery.natedit.insertlink.js'></script>"
  requires="JQUERYPLUGIN::NATEDIT"
}%<!-- insertlink -->
  <input type="hidden" name="insertlinkflag" id="natEditInsertLinkFlag" value="topic" />
  <div class="foswikiFormStep">
    <h2>%MAKETEXT{"Insert link:"}%</h2>
    %TABPANE%
    %TAB{"Topic" after="jQuery('#natEditInsertLinkFlag').val('topic');" }%
      <table class="foswikiLayoutTable" width="100%">
	<tr>
	  <th>%MAKETEXT{"Web:"}%</th>
	  <td><input type="text" id="natEditInsertLinkWeb" size="40" name="web" class="foswikiInputField baseweb" value="%BASEWEB%" /></td>
	</tr>
	<tr>
	  <th>%MAKETEXT{"Topic:"}%</th>
	  <td><input type="text" id="natEditInsertLinkTopic" size="40" name="topic" class="foswikiInputField empty" value="" /></td>
	</tr>
	<tr>
	  <th>%MAKETEXT{"Text:"}%</th>
	  <td><input type="text" id="natEditInsertLinkTextTopic" size="40" name="linktext" class="foswikiInputField selection" value="" /></td>
	</tr>
      </table>
    %ENDTAB%
    %TAB{"External" after="jQuery('#natEditInsertLinkFlag').val('external');"}%
      <table class="foswikiLayoutTable" >
	<tr>
	  <th>%MAKETEXT{"Url:"}%</th>
	  <td><input type="text" id="natEditInsertLinkUrl" size="40" name="url" class="foswikiInputField empty" value="" /></td>
	</tr>
	<tr>
	  <th>%MAKETEXT{"Text:"}%</th>
	  <td><input type="text" id="natEditInsertLinkTextExternal" size="40" name="linktextext" class="foswikiInputField selection" value="" /></td>
	</tr>
      </table>
    %ENDTAB%
    %ENDTABPANE%
  </div>
  <div class="foswikiFormStep foswikiFormLast foswikiFormButtons">
    %BUTTON{"Ok" class="foswikiButtonSubmit" icon="tick"}%
    %BUTTON{"Cancel" class="foswikiButtonCancel" icon="cross"}%
    %CLEAR%
  </div>
</div>%TMPL:END%

%TMPL:DEF{"insertattachment::loadattachments"}%%ATTACHMENTS{
  "%URLPARAM{"baseweb" default="%BASEWEB%"}%.%URLPARAM{"basetopic" default="%BASETOPIC%"}%"
  warn="off"
  format="<label class=\"{web:'$web', topic:'$topic', fileName:'$name', url:'$url'}\"><input class='foswikiCheckbox' style='vertical-align:middle;' type='radio' name='attachment' value='$name' /><span class='imgContainer'><img src='$iconUrl' alt='$name' title='$name: version $version, uploaded by $user on $date' /></span> <span>$name</span></label>"
}%%TMPL:END%


%TMPL:DEF{"dialogs"}%%TMPL:P{"inserttable"}%%TMPL:P{"insertlink"}%%TMPL:P{"insertattachment"}%%TMPL:END%
