%TMPL:INCLUDE{"more"}%

%{ add fancy buttons }%
%TMPL:DEF{"setparent"}%%TMPL:PREV%%TMPL:P{"modacDialogDefaultsDiv"}%%TMPL:END%
%TMPL:DEF{"copy"}%%TMPL:PREV%%TMPL:P{"modacDialogDefaultsDiv"}%%TMPL:END%
