%TMPL:INCLUDE{"moveattachment"}%

%TMPL:DEF{"newtopic"}%<p><input name="newtopic" class="foswikiInputField" value="%TOPIC%" size="36" /><input type="hidden" name="nonwikiword" value="on" /></p>%TMPL:P{"namehelp"}%%TMPL:END%
