%TMPL:INCLUDE{"rename"}%

%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value='%MAKETEXT{"Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%

%TMPL:DEF{"newtopic"}%%JQREQUIRE{"wikiword, focus"}%<input name="newtopic" class="foswikiInputField modacRenameInput jqWikiWord {source: '.modacRenameInput'%IF{"defined WIKIWORD_ALLOWED" then=", allow:'$percentWIKIWORD_ALLOWED$percent'"}%, transliterate:1} modacAjaxPreserve" value="%URLPARAM{"newtopicPreserved" default="%NEW_TOPIC%"}%" size="36" /><br />
%TMPL:P{"nonwikiword"}%%TMPL:END%

%TMPL:DEF{"newweb"}%<select name="newweb" class="foswikiSelect modacAjaxPreserve">%WEBLIST{"<option $marker value=$qname>$percentFORMATLIST{\"$map($name)\" map=\"%MODAC_WEBMAPPINGS{default=""}%\"}$percent</option>" webs="%URLPARAM{"newwebPreserved" default="%NEW_WEB%"}%,public" selection="%URLPARAM{"newwebPreserved" default="%NEW_WEB%"}%" separator=" "}%</select>%TMPL:END%
