%TMPL:INCLUDE{"renamebase"}%
%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:INCLUDE{"viewsidebar"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:DEF{"logo"}%%TMPL:END%


%TMPL:DEF{"script:skintemplate"}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%modacViewPage modacRenamePage%TMPL:END%
%TMPL:DEF{"modacActionButtons"}%%TMPL:P{"modacActionButtonsVIEW"}%%TMPL:END%


%TMPL:DEF{"toolbar"}%<div class="patternTop">%TWISTYBUTTON{id="renamehelp" mode="div" remember="on" showlink="%MAKETEXT{"Show help"}%" hidelink="%MAKETEXT{"Hide help"}%" showimgleft="%ICONURLPATH{toggleopen}%" hideimgleft="%ICONURLPATH{toggleclose}%"  linkclass="patternTwistyButton"}%</div>%TMPL:END%


%TMPL:DEF{"pagehelp"}%%TWISTYTOGGLE{id="renamehelp" mode="div" remember="on" noscript="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%

%TMPL:DEF{"pagehelp_nojavascript"}%%TWISTYTOGGLE{id="pagehelp_nojavascript" mode="div" start="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%


%TMPL:DEF{"checkuncheck"}%%{
   foswikiCheckAllOn and foswikiCheckAllOff are handled in foswikiForm.js
}%<div class="foswikiMakeVisibleBlock"><hr />
<p><input type="button" class="foswikiButton foswikiCheckAllOn" value='%MAKETEXT{"Select all"}%' />&nbsp;<input type="button" class="foswikiButton foswikiCheckAllOff" value='%MAKETEXT{"Clear all"}%' /> %MAKETEXT{"checkboxes of referenced topics"}%</p></div>%TMPL:END%

%TMPL:DEF{"currenturl"}%<h3>%MAKETEXT{"Preview"}%</h3>
<div class="changeurl_container" style="background-image: url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/addressbar.png')">
  <div class="changeurl">
    <span class="changeurl_host"></span>
    <span class="changeurl_web" data-orig="%WEB%">%WEB%</span>
    <span>/</span>
    <span class="changeurl_topic" data-orig="%TOPIC%">%TOPIC%</span>
  </div>
</div>%BR%%TMPL:END%

%TMPL:DEF{"newurl"}%<h3>%MAKETEXT{"Change address"}%</h3>
<table class="newurl">
  <tbody>
    <tr>
      <td>%MAKETEXT{"New web"}%:</td>
      <td>%TMPL:P{"newweb"}%
%IF{"context 'isadmin' or $USERNAME ingroup '%MODAC_SHOWALLWEBSGROUP%'" then="$percentBR$percent$percentTMPL:P{hidewebsOption}$percent"}%%BR%
      </td>
    </tr>
    <tr>
      <td>%MAKETEXT{"New topic name"}%:</td>
      <td>%TMPL:P{"newtopic"}%</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="newurl_hint_error">
          <span>%MAKETEXT{"This address is already taken by another topic."}%</span>
        </div>
        <div class="newurl_hint_spinner">
          <img src="%PUBURLPATH%/%SYSTEMWEB%/JQueryPlugin/images/spinner.gif" alt="">
          <span>%MAKETEXT{"Please wait..."}%</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>%TMPL:END%



%TMPL:DEF{"hidewebsOption"}%<div>%IF{"$'URLPARAM{MODAC_HIDEWEBS}'=''" then="
<a href='%SCRIPTURL{"%SCRIPTNAME%"}%/%WEB%/%TOPIC%?$percentQUERYPARAMS{format=\"$name=$value\" separator=\";\"}$percent;MODAC_HIDEWEBS=none'>%MAKETEXT{"List all webs I may write to"}%</a>
"}%
</div>%TMPL:END%

%TMPL:DEF{"totopic"}%
<tr><td>
%TMPL:P{"totopictitle"}%
</td><td>
%TMPL:P{"newtopic"}%%TMPL:P{"newtopichelp"}%
</td></tr>%TMPL:END%

%TMPL:DEF{"content"}%
<div class="patternBorder">%TMPL:P{"formstart"}%
%TMPL:P{"renameformsteps"}%
%TMPL:P{"topicaction"}%
%TMPL:P{"formend"}%</div>%TMPL:END%

%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Move [_1]" args="[[%TOPIC%]]"}%%TMPL:END%

%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TMPL:P{"currenturl"}%
</div>
<div class="foswikiFormStep">
%TMPL:P{"newurl"}%
</div>%TMPL:P{"searchresultsstep"}%</div>%TMPL:END%
