%TMPL:INCLUDE{"renamebase"}%
%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:INCLUDE{"viewsidebar"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:DEF{"logo"}%%TMPL:END%


%TMPL:DEF{"script:skintemplate"}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%modacViewPage modacRenamePage%TMPL:END%
%TMPL:DEF{"modacActionButtons"}%%TMPL:P{"modacActionButtonsVIEW"}%%TMPL:END%


%TMPL:DEF{"toolbar"}%<div class="patternTop">%TWISTYBUTTON{id="renamehelp" mode="div" remember="on" showlink="%MAKETEXT{"Show help"}%" hidelink="%MAKETEXT{"Hide help"}%" showimgleft="%ICONURLPATH{toggleopen}%" hideimgleft="%ICONURLPATH{toggleclose}%"  linkclass="patternTwistyButton"}%</div>%TMPL:END%


%TMPL:DEF{"pagehelp"}%%TWISTYTOGGLE{id="renamehelp" mode="div" remember="on" noscript="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%

%TMPL:DEF{"pagehelp_nojavascript"}%%TWISTYTOGGLE{id="pagehelp_nojavascript" mode="div" start="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%


%TMPL:DEF{"checkuncheck"}%%{
   foswikiCheckAllOn and foswikiCheckAllOff are handled in foswikiForm.js
}%<div class="foswikiMakeVisibleBlock"><hr />
<p><input type="button" class="foswikiButton foswikiCheckAllOn" value='%MAKETEXT{"Select all"}%' />&nbsp;<input type="button" class="foswikiButton foswikiCheckAllOff" value='%MAKETEXT{"Clear all"}%' /> %MAKETEXT{"checkboxes of referenced topics"}%</p></div>%TMPL:END%

%TMPL:DEF{"changefrom"}%
<table class="modacFormatOnly">
%TMPL:P{"fromweb"}%
%TMPL:P{"fromtopic"}%
</table>
%TMPL:END%

%TMPL:DEF{"fromweb"}%<tr><td>
---+++ %MAKETEXT{"Current web:"}%
</td>
<td>
%WEB%
</td></tr>%TMPL:END%

%TMPL:DEF{"fromtopic"}%
<tr><td>
---+++ %MAKETEXT{"Current topic:"}%
</td><td>
%TOPIC%
</td></tr>%TMPL:END%

%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"To web:"}% %TMPL:END%
%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"To topic:"}% %TMPL:END%

%TMPL:DEF{"toweb"}%<tr><td>
%TMPL:P{"towebtitle"}%
</td>
<td>
%TMPL:P{"newweb"}%%TMPL:P{"newwebhelp"}%
</td></tr>%TMPL:END%

%TMPL:DEF{"totopic"}%
<tr><td>
%TMPL:P{"totopictitle"}%
</td><td>
%TMPL:P{"newtopic"}%%TMPL:P{"newtopichelp"}%
</td></tr>%TMPL:END%

%TMPL:DEF{"content"}%
<div class="patternBorder">%TMPL:P{"formstart"}%
%TMPL:P{"renameformsteps"}%
%TMPL:P{"topicaction"}%
%TMPL:P{"formend"}%</div>%TMPL:END%

%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Move [_1]" args="[[%TOPIC%]]"}%%TMPL:END%

%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TMPL:P{"changefrom"}%
</div>
<div class="foswikiFormStep">
<table class="modacFormatOnly">
%TMPL:P{"toweb"}%
%TMPL:P{"totopic"}%
</table>
</div>%TMPL:P{"searchresultsstep"}%</div>%TMPL:END%
