%TMPL:INCLUDE{"renamebase"}%

%TMPL:DEF{"hidewebsOption"}%<div>
<label><input class="foswikiCheckbox modacDialogFire modacAjaxPreserve modacAjaxNoRename" type="checkbox" name="MODAC_HIDEWEBS" value="none" %IF{"$'URLPARAM{MODAC_HIDEWEBS}'='none'" then="checked='checked'"}% />%MAKETEXT{"List all webs I may write to"}%</label>
</div>%TMPL:END%
