%TMPL:INCLUDE{"rename"}%

%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value='%MAKETEXT{"Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%

%TMPL:DEF{"newtopic"}%%JQREQUIRE{"wikiword, focus"}%<input name="newtopic" class="foswikiInputField onlyNewTopic modacRenameInput jqWikiWord {source: '.modacRenameInput'%IF{"defined WIKIWORD_ALLOWED" then=", allow:'$percentWIKIWORD_ALLOWED$percent'"}%, transliterate:1} modacAjaxPreserve" value="%URLPARAM{"newtopicPreserved" default="%NEW_TOPIC%"}%" size="36" /><br />
%TMPL:P{"nonwikiword"}%%TMPL:END%

%TMPL:DEF{"newweb"}%<select name="newweb" class="foswikiSelect modacAjaxPreserve onlyNewTopic">%FORMATLIST{"%WEBLIST{"$name" separator="," webs="%URLPARAM{"newwebPreserved" default="dummy"}%,%NEW_WEB%,public" selection="%URLPARAM{"newwebPreserved" default="%NEW_WEB%"}%"}%" map="%MODAC_WEBMAPPINGS{default=""}%" selection="^%URLPARAM{"newwebPreserved" default="%NEW_WEB%"}%$" separator=" " include="%URLPARAM{"newwebPreserved" default="dummy"}%|%NEW_WEB%|(?!%URLPARAM{"MODAC_HIDEWEBS" default="%MODAC_HIDEWEBS{default="dummy"}%"}%$).*" marker="selected='selected'" unique="on"
 format="$percentIF{\"'$1' allows 'CHANGE'\" then=\"<option $marker value='$1'>$map($1)</option>\"}$percent"}%</select>%TMPL:END%
