%TMPL:INCLUDE{"view"}%
%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:INCLUDE{"viewsidebar"}%
%TMPL:INCLUDE{"TopHead"}%
%TMPL:INCLUDE{"DocumentFormTable"}%

%TMPL:DEF{"logo"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodyclassname"}%modacViewPage modacView%IF{"defined raw" then=" patternRawViewPage"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script:skintemplate"}%%IF{"defined raw" then="$percntTMPL:P{$quotscript:skintemplate:viewraw$quot}$percnt"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script:skintemplate:viewraw"}%%TMPL:P{"JavascriptFiles/foswikiPref"}%%TMPL:P{"PatternSkin/pattern_edit"}%%TMPL:END%%{
---------------------------------------------------
}%%{ DEPRECATED: formattop, formatbottom, attachmentsattop and attachmentsatbottom }%
%{ compatibility transition older than 4.2: }%
%TMPL:DEF{"formattop"}%%TMPL:END%
%TMPL:DEF{"formatbottom"}%%TMPL:P{"form"}%%TMPL:END%
%TMPL:DEF{"attachmentsattop"}%%TMPL:END%
%TMPL:DEF{"attachmentsatbottom"}%%TMPL:P{"attachments"}%%TMPL:END%
%TMPL:DEF{"formtop"}%%TMPL:P{"formattop"}%%TMPL:END%
%TMPL:DEF{"formbottom"}%%TMPL:P{"formatbottom"}%%TMPL:END%
%TMPL:DEF{"attachmentstop"}%%TMPL:P{"attachmentsattop"}%%TMPL:END%
%TMPL:DEF{"attachmentsbottom"}%%TMPL:P{"attachmentsatbottom"}%%TMPL:END%%{
---------------------------------------------------
}%

%TMPL:DEF{"top_simple"}%<div class="patternTop"><div id="modacHeading">%ENCODE{"%TOPICTITLE%" type="save"}%</div>
<span class="patternHomePath">%TMPL:P{"breadcrumb"}%</span><br></div><!--/patternTop-->%TMPL:END%

%TMPL:DEF{"top"}%%IF{"(defined NO_MODAC_HEAD and '%NO_MODAC_HEAD%' != '') or (defined NO_MODAC_HEADLIST and '%NO_MODAC_HEADLIST%' =~ '(?:\s|^|,)%TOPIC%(?:\s|$|,)') or (defined MODAC_TOPHEAD_FORM and not form.name =~ $MODAC_TOPHEAD_FORM)" then="$percntTMPL:P{top_simple}$percnt" else="$percntTMPL:P{top_head}$percnt"}%%TMPL:END%

%{---------------------------------------------------
}%%{ DEPRECATED: beforetext and aftertext }%
%{ compatibility transition older than 4.2: }%
%TMPL:DEF{"contentheader"}%%TMPL:P{"beforetext"}%%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:P{"aftertext"}%%IF{"defined rev" then="$percntTMPL:P{\"metadatatable\"}$percnt"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"patterntopiccontents"}%%TMPL:P{"broadcastmessage"}%%TMPL:P{"contentheaderstylewrapper"}%%TMPL:P{"formtop"}%%TMPL:P{"attachmentstop"}%<div class="patternContent"><div class="foswikiTopic">%TMPL:P{"content"}%</div>

%TMPL:P{"contentfooterstylewrapper"}%%TMPL:P{"similartopics"}%%TMPL:P{"topicaction"}%</div>%TMPL:P{"footernote"}%%TMPL:END%


%{ --- JQueryMenuSkin Integration --- }%

%TMPL:DEF{"modacActionButtons"}%%TMPL:P{"modacActionButtonsVIEW"}%%TMPL:END%

%TMPL:DEF{"topicaction"}%<div class="modacBorder"><div class="foswikiFormSteps">%TMPL:P{"attachmentsbottom"}%</div></div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"standardheader"}%%TMPL:END%
%TMPL:DEF{"simpleheader"}%%TMPL:P{"flashnote"}%%TMPL:P{"standardheader"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"broadcastmessage"}%%IF{"defined BROADCASTMESSAGE and $BROADCASTMESSAGE != ''" then="$percntTMPL:P{$quotbroadcastmessage:contents$quot}$percnt"}%%TMPL:END%
%TMPL:DEF{"broadcastmessage:contents"}%<div class="foswikiBroadcastMessage"> %BROADCASTMESSAGE% </div>%TMPL:END%

%TMPL:DEF{"flashnote"}%%IF{"defined FLASHNOTE and $FLASHNOTE != ''" then="$percntTMPL:P{$quotflashnote:contents$quot}$percnt"}%%TMPL:END%
%TMPL:DEF{"flashnote:contents"}%<div class="foswikiNotification"> %FLASHNOTE% </div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"content"}%%TMPL:P{"simpleheader"}%
%TEXT% 
%IF{"$raw='on'" then='%TMPL:P{"sig_textareabuttons"}%'}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"metadatatable"}%%{
}%<div class="modacBorder modacBox">
  <div class="foswikiFormSteps">
    <div class="foswikiFormStep">%{
}%%RENDERFORDISPLAY{map="%TMPL:P{"modacformtable_mappings"}%" header="$percentTMPL:P{\"metadatatable::startTwisty\"}$percent
  <table class='tablesorter'><thead>
      <tr>
        <th class=\"header\">%MAKETEXT{"Field"}%</th>
        <th class=\"header\">%MAKETEXT{"Value"}%</th>
      </tr>
    </thead><tbody>" format="
    <tr>
      <td><span class='title TMLhtml'>$percntMAKETEXT{$title}$percnt</span></td>
      <td>$value</td>
  </tr>"
  footer="</tbody></table> $percentTMPL:P{metadatatable::endTwisty}$percent" revision="%URLPARAM{"rev"}%"}%%{
}%</div>
</div>
</div>%{
}%%TMPL:END%

%TMPL:DEF{"metadatatable::startTwisty"}%%{
}%%TWISTY{
  showimgleft="%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/toggleopen.png"
  hideimgleft="%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/toggleclose.png"
  link="%MAKETEXT{"Metadata"}%"
}%%TMPL:END%
%TMPL:DEF{"metadatatable::endTwisty"}%%{
}%%ENDTWISTY%%{
}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"printaction"}%%TMPL:P{"activatable_printable"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"footernote"}%%TMPL:P{"topicinfo"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"sig_textareabuttons"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"horizontalnavigation"}%%IF{"istopic '%PATTERNSKIN_NAVIGATION_TOPIC%'" then="$percntINCLUDE{$quot%PATTERNSKIN_NAVIGATION_TOPIC%$quot section=$quotmain$quot warn=$quotoff$quot}$percnt"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"metanavigation"}%%IF{"istopic '%PATTERNSKIN_NAVIGATION_TOPIC%'" then="$percntINCLUDE{$quot%PATTERNSKIN_NAVIGATION_TOPIC%$quot section=$quotmeta$quot warn=$quotoff$quot}$percnt"}%%TMPL:END%
%TMPL:DEF{"similartopics"}%
  %IF{"'%SIMILAR_TOPICS%' = '1' AND '%WORKFLOWORIGIN%'/form[name~'%SIMILAR_TOPICS_FORM%']" then="$percentTMPL:P{\"similartopicsshow\"}$percent" else=""}%
%TMPL:END%

%TMPL:DEF{"similartopicmacro"}%
%SOLRSIMILAR{"type:topic topic:%TOPIC% web:%WEB% form:%URLPARAM{"FORM" default="*"}% "
    filter="type:topic form:%URLPARAM{"FORM" default="*"}% %SIMILAR_TOPICS_FILTER{default=""}%"
    like="%SIMILAR_TOPICS_LIKE%"
    boost="%SIMILAR_TOPICS_BOOST%"
    fields="%SIMILAR_TOPICS_FIELDS%"
    header="<table class=\"tablesorter\"><thead><tr><th> $percntMAKETEXT{\"Topic\"}$percent </th><th> $percntMAKETEXT{\"Responsible\"}$percent </th><th> $percntMAKETEXT{\"Document type\"}$percent </th><th> $percntMAKETEXT{\"Date\"}$percent </th></thead><tbody>"
    format="<tr class=\"$percntIF{\"'$percntCALC{\"$ODD($index)\"}$percnt'='0'\" then=\"even\" else=\"odd\"}$percnt\"><td>[[$web.$topic][$title]] $percntIF{\"'%SIMILAR_TOPICS_MARK_AS_DISCUSSION{default=""}%'!='' and '$process_state_s'=~'%SIMILAR_TOPICS_MARK_AS_DISCUSSION{default=""}%'\" then=\"<span class=\\"bmsubinfo\\">$dollarpercntICON{comments}$dollarpercnt&nbsp;$percntMAKETEXT{\"Discussion\"}$percnt</span>\"}$percent </td><td>$percntIF{\"'$field_Responsible_s'=''\" then=\"\" else=\"$percntRENDERUSER{\"$field_Responsible_s\" convert=\"on\"}$percnt\"}$percnt</td><td> $percntMAKETEXT{\"$field_DocumentType_s\"}$percent </td><td> $percntSUBST{text=\"$date\" pattern=\"(\w+)\" format=\"$dollarpercntMAKETEXT{\\"$1\\"}$dollarpercnt\"}$percnt </td></tr>"
    footer="</tbody></table>"
    sort="score desc"
    rows="%SIMILAR_TOPICS_ROWS%"
}%
%TMPL:END%

%TMPL:DEF{"similartopicsshow"}%
<div class="modacBorder modacBox"><div class="foswikiFormSteps"><div class="foswikiAttachments foswikiFormStep contentsWidth">
%TWISTY{
  id="similarTopic"
  firststart="hide"
  remember="on"
  noscript="hide"
  showlink="%MAKETEXT{"Similar Topics"}%"
  hidelink="%MAKETEXT{"Similar Topics"}%"
  showimgleft="%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/toggleopen.png"
  hideimgleft="%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/toggleclose.png"
}%
<div id="modacSidebarTwisty_similar" class="modacAjaxContent" data-url="%SCRIPTURL{rest}%/RenderPlugin/template?name=view;expand=similartopicmacro;topic=%WEB%.%TOPIC%;render=on;FORM=%SIMILAR_TOPICS_FORM%">%JQREQUIRE{"jqp::spin"}%</div>
%ENDTWISTY%
</div></div></div>
%TMPL:END%
