%TMPL:INCLUDE{"viewplain"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%

%TMPL:DEF{"bodyclassname"}%modacNoViewPage modacViewplainPage modacOopsPage%TMPL:END%

%{"This must not be empty, or the top-line will not show"}%
%TMPL:DEF{"modacActionButtons"}%&nbsp;%TMPL:END%
