%{ to include a top bar on a page, just include this template in the page template }%

%TMPL:DEF{"topbar"}%<div id="modacTopbarWrapper"><div id="modacTopbar">%IF{"istopic '%WEB%.WebTopBar'" then="$percntINCLUDE{$quot%WEB%.WebTopBar$quot}$percnt" else="%IF{"istopic '%CUSTOMIZINGWEB{default="Custom"}%.WebTopBarDefault'" then="$dollarpercntINCLUDE{$dollarquot%CUSTOMIZINGWEB{default="Custom"}%.WebTopBarDefault$dollarquot}$dollarpercnt" else="$dollarpercntINCLUDE{$dollarquot%SYSTEMWEB%.WebTopBarDefault$dollarquot}$dollarpercnt"}%"}%</div><!-- /modacTopBar--></div>%TMPL:END%

%TMPL:DEF{"topbarspacer"}%<div id="patternClearHeaderCenter"></div>%TMPL:END%
