%TMPL:INCLUDE{"BottomBar"}%
%{ to include a bottom bar on a page, just include this template in the page template }%
%TMPL:DEF{"bottombar"}%<div id="modacBottombar">%TMPL:P{"bottombarcontents"}%</div>%TMPL:END%
