%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"logo"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"topicactionbuttonsTOP"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate"}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternViewPage patternPrintPage%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%TMPL:END%

%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%
%TMPL:DEF{"formtop"}%%TMPL:END%
%TMPL:DEF{"formbottom"}%%TMPL:P{"form"}%%TMPL:END%


%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentstop"}%%TMPL:END%
%TMPL:DEF{"attachmentsbottom"}%%TMPL:P{"attachments"}%%TMPL:END%

%TMPL:DEF{"defaultstyle"}%
<style>
@page {
  margin: 1cm;
  margin-left: 2cm;
  margin-top: 5.0cm;
  margin-bottom: 2.0cm;
  /*size: A4 landscape;*/

  @top {
    content: flow(Princeheader)
   }

  @bottom {
    content: flow(Princefooter)
  }

}


div.Princeheader {
   flow: static(Princeheader)
}
div.Princefooter {
   flow: static(Princefooter)
}
span.Seitenzahl {
   content: "%MAKETEXT{Seite}% " counter(page) " %MAKETEXT{von}% " counter(pages)
}
  %IF{"'ENTWURF'='%WORKFLOWSTATE%'" then="background-image: url(/srv/www/htdocs/pub/System/GenPDFPisaPlugin/entwurf-ohneTransparens.png);"}%
  %IF{"'DISKUSSIONSSTAND'='%WORKFLOWSTATE%'" then="background-image: url(/srv/www/htdocs/pub/System/GenPDFPisaPlugin/diskussion.png);"}%
</style>
%TMPL:END%

%TMPL:DEF{"main"}%
<div class="foswikiPage">
        <div id="modacSidebar">
        %TMPL:P{"sidebar"}%
        </div>
        <div id="modacWrapper"><div id="modacSecondWrapper">
        <div id="modacContentsWrapper"><div id="modacContents"><div id="modacContentHeading"></div>%TMPL:P{"patterntopiccontents"}%</div></div>
        %TMPL:P{"bottombar"}%</div>
        </div>
</div>
%TMPL:END%

%{ DEPRECATED: beforetext and aftertext }%
%{ compatibility transition older than 4.2: }%
%TMPL:DEF{"contentheader"}%%TMPL:P{"beforetext"}%%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:P{"aftertext"}%%TMPL:END%
%TMPL:DEF{"beforetext"}%%TMPL:END%
%TMPL:DEF{"aftertext"}%%TMPL:END%

%TMPL:DEF{"broadcastmessage"}%%TMPL:END%

%TMPL:DEF{"content"}%<div class="foswikiTopic">%TMPL:P{"broadcastmessage"}% %TEXT%</div><!-- /foswikiTopic-->%TMPL:END%

%TMPL:DEF{"topheaderbody"}%
<div class="Princeheader">%TMPL:P{"top"}%</div>
<div class="Princefooter" style="text-align:right;font-size:73%;line-height:150%;">
<hr>
<!--img width="25%" src="" float="left" align="left" style="padding-top: 2px"-->
%MAKETEXT{"This printout is a copy and not subject to updating service.<br />Before use, the respective user has to make sure that the copy is up to date.<br />Print date:"}% %DATE%
</div>
%TMPL:END%
%TMPL:DEF{"patterntopiccontents"}%
%TMPL:P{"topheaderbody"}%
%TMPL:P{"contentheader"}%
%TMPL:P{"formtop"}%
%TMPL:P{"formtop"}%
%TMPL:P{"attachmentstop"}%<div class="patternContent">
%TMPL:P{"content"}%
%TMPL:P{"bottomcontent"}%
%TMPL:END%


