%{ to include a bottom bar on a page, just include this template in the page template }%%TMPL:DEF{"bottombar"}%<div id="modacBottombar">%TMPL:P{"bottombarcontents"}%</div>%TMPL:END%
%TMPL:DEF{"bottombarcontents"}%<div id="patternBottomBarContents">%IF{"istopic '%WEB%.WebBottomBar'" then="$percntINCLUDE{$quot%WEB%.WebBottomBar$quot}$percnt" else="%IF{"istopic '%CUSTOMIZINGWEB{default="Custom"}%.WebBottomBarDefault'" then="$dollarpercntINCLUDE{$dollarquot%CUSTOMIZINGWEB{default="Custom"}%.WebBottomBarDefault$dollarquot}$dollarpercnt" else="$dollarpercntINCLUDE{$dollarquot%SYSTEMWEB%.WebBottomBarDefault$dollarquot}$dollarpercnt"}%"}%</div>%TMPL:END%
