.foswikiPage {
	font-size:100%;
	min-width: 1040px;
}
.modacLoginPage #foswikiLogin {
	padding: 4px;
	border: 1px solid #aaa;
}
#modacSidebar .modacSidebarTwisty ul {
	margin-left: 1.1em;	
}
#modacSidebar ul {
	margin-left: 2em;	
}
.modacTabs ul {
	margin-left: 0;
}
#modacWrapper .foswikiToc ul {
	list-style-image: none;
}