/* 
Basic layout derived from http://www.positioniseverything.net/articles/pie-maker/pagemaker_form.php.
I've changed many so things that I won't put a full copyright notice. However all hacks (and comments!) are far beyond my knowledge and this deserves full credits:

Original copyright notice:
Parts of these notes are
(c) Big John @ www.positioniseverything.net and (c) Paul O'Brien @ www.pmob.co.uk, all of whom contributed significantly to the design of
the css and html code.

Reworked and simplified for Foswiki: (c) Arthur Clemens @ visiblearea.com
*/

html, body {
	margin:0; /*** Do NOT set anything other than a left margin for the page
as this will break the design ***/
	padding:0;
	border:0;
	height:100%;
}
body {
	min-width: 100%;
}
.clear {
	clear:both;
	/*** these next attributes are designed to keep the div
	height to 0 pixels high, critical for Safari and Netscape 7 ***/
	height:0px;
	overflow:hidden;
	line-height:1%;
	font-size:0px;
}
#patternPage {
	position:relative;
	width:100%;
	min-width: 940px;
}
#patternOuter {
	height:100%;
	margin-left: 13em!important;
}

#patternFloatWrap {
	width:100%;
	float:left;
	display:inline;
}

/* The modacSkin-Sidebar is a bit thinner then the one used in the patternSkin /HYK */
#patternSideBar {
	float:left;
	/*display:inline;*/
	overflow:hidden;
	margin-left:0!important;
	width:14em !important;
}

#modacMainContents {
	position:relative;
	top: -32px;
	z-index: 33;
	background: transparent;
}

#patternClearHeaderLeft {
	height: 148px!important;	
}
#patternMain {
	width:100%;
	float:right;
	display:inline;
}

#patternBottomBar {
	clear:both;
}

/*------------Themes for standard applications------------*/

.metaDataHead {
	width:100%;	
	border-collapse: collapsed;
	border: none;
}

.metaDataHead tr {
	background: #f8fcff;
}

.metaDataHead td:first-child{
	font-weight:bold;
	color: #999;
}

.metaDataHead td { 
        padding: 8px;
	border-color: #f8fcff;
	border-width: 8px 1px;
}

.searchTable {
	width: 100%;
}

table.atpSearch { 
	width: 100%; 
	border: none; 
	border-collapse: collapse; 
}

.atpSearch th { 
	border: none;
	background: white; 
	color: #999; 
	padding-bottom: 8px; 
	text-align: left; 
}

.atpSearch tbody tr:first-child td { 
	border-top: none; 
}

.atpSearch td { 
	border: solid white; 
	border-width: 8px 1px; 
	padding: 8px; 
	background: #f8fcff; 
	color: #333; }

.atpSearch td.secondary { 
	color: #666; 
}

.atpSearch .ui-icon { 
	background-image: url('../JQueryPlugin/themes/foswiki/images/ui-icons-famfamfam.png'); 
}

.ma_right_table {
  float: right;
  width: 50%;
}

.ma_left_table {
  float: left;
  width: 50%;
}
